body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
.text-center {
  text-align: center;
}

.badge {
  display: inline-block;
  padding: 2px 5px;  
  font-size: 12px;   
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: text-top;
  border-radius: 3px;
}

.text-bg-secondary {
  background-color: gray;
  color: white;
} */